// ---------------
// card.scss:
//     - Stop title card
//     - Responsive card holder sizing
//     - Base styles for outer container of a route card.
//     - Route card navigation dots
//     - First time swipe hint
// ---------------

// Handle large screen so they're not too big!
@media screen and (min-width: 600px) {
    .cardHolder {
        margin: 0 auto;
        width: 400px !important;
    }

    .stop .stop-title {
        width: 360px;
        margin: 0 auto;
    }
}  // @media screen and (min-width: 600px)

@media screen and (max-width: 599px) {
    .cardHolder {
        margin: 0;
    }

    .stop .stop-title {
        margin: 0 10px;
    }
} // @media screen and (max-width: 599px)

.stop .stop-title {
    @include border(#DEDEDE);

    display: block;
    padding: 5px 5px 8px 5px;

    border-radius: 4px 4px 0 0;
    border-bottom: none;

    box-shadow: inset 0 -3px 2px -2px #CCCCCC;
    background: #FFF;
    font-size: 16px;
    text-align: center;
    z-index: -1;

    color: #545454;
} // .stop .stop-title

.swipe-hint {
    @include position-absolutely(30%, 0, null, null);

    color: #FAFAFA;
    font-size: 18px;
    line-height: 1;
    background: rgba(20, 10, 10, 0.8);
    font-family: Helvetica;
    font-weight: bold;
    padding: 15px 45px 15px 15px;
    z-index: 1000000;
    margin-top: -17px;
    box-shadow: 1px 1px 2px #222;

    img {
        @include size(18px, 18px);
        vertical-align: text-top;
        margin: 2px 5px 0 0;
    } // img
} // .swipe-hint

.cardHolder {
    display: block;
    position: relative;
    padding: 0;
    overflow: hidden;

    background: white;
    box-shadow: 1px 1px 4px #CCC;
    border-radius: 4px;

    .fakeCard {
        // Move the fake backing card all the way to the bottom of the stack.
        z-index: -1;
    } // .fakeCard

    .card {
        // Cards are absolutely positioned so they can stack on top of each
        // other.
        @include position-absolutely(0, 0, null, 0);
        z-index: 10;
    } // .card

    .dots {
        list-style: none;
        margin: 10px 0 0 0;
        padding: 0 0 5px 0;
        text-align: center;

        li {
            @include size(8px, 8px);
            @include rounded-corner(8px);

            display: inline-block;
            margin: 0 1px;
            padding: 0;

            background: #EFEFEF;
            box-shadow: inset 0 0 2px 1px #DEDEDE;

            -webkit-transition: 0.25s all ease-in-out;

            &.active {
                background: #888;

                box-shadow: inset 0 0 1px #DEDEDE;
            } // &.active
        } // li
    } // .dots
} // .cardHolder