h2.favourites-title {
    position: relative;
    margin: 0;
    padding: 15px 10px;

    border-bottom: 1px solid #E6E6E6;

    font-size: 20px;
    line-height: 1;
    color: #323232;

    .actions {
        position: absolute;
        top: 0;
        right: 7px;

        .prev, .next {
            display: block;
            float: left;

            margin: 7px 0;
            padding: 7px 18px;

            border: 1px solid #DDD;

            background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EDEDED));

            &.disabled {
                pointer-events: none;
                opacity: 0.5;

                img {
                    opacity: 0.5;
                }
            } // &.disabled
        } // .prev, .next

        .prev {
            border-radius: 2px 0 0 2px;

            // Only remove the next button's border when both buttons are not
            // disabled otherwise let it show as it gives a shadow like effect.
            &:not(.disabled) + .next:not(.disabled) {
                border-left: 0;
            }

            img {
                -webkit-transform: rotate(180deg);
            }
        } // .prev

        .next {
            border-radius: 0 2px 2px 0;
        } // .next
    } // .actions
} // h2

.favourites-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: block;
        position: relative;

        margin: 0;
        padding: 5px 10px;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #E6E6E6;
        background: #FAFAFA;
        text-shadow: 0 1px 1px #FFFFFF;

        &:nth-child(2) {
            border-bottom: 0;
        } // &:nth-child(2)

        .arrow {
            position: absolute;

            top: 50%;
            right: 5px;
            margin-top: -8px;

            opacity: 0.35;
        } // .arrow

        .number {
            margin: 3px 5px 0 0;
        } // .number

        h3 {
            display: block;
            margin: 0;
            padding: 0 16px 0 0;

            font-size: 16px;
            line-height: 1;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        } // h3
    } // li

    li.empty {
        background: white;
        box-sizing: border-box;
        height: 115px;
        width: 286px;
        padding: 20px 0;
        margin: 0 auto;

        .left {
            float: left;
            width: 200px;
            margin: 0 20px 0 0;

            h3 {
                margin: 0;
                padding: 0 0 6px 0;
                font-size: 18px;
                line-height: 1;
            } // h3

            h4 {
                margin: 0;
                padding: 0;

                color: #747474;
                font-weight: normal;
                font-size: 14px;
                line-height: 1.5;
            } // h4
        } // .left

        .bubble {
            position: relative;
            float: left;
            margin: 0;
            height: 64px;
            width: 64px;
            border-radius: 60px;
            background: rgba(142, 145, 128, 0.07);
            border: 1px solid rgba(92, 95, 78, 0.1);
            box-shadow: 0 0 5px 2px #F6F6F6;
            overflow: hidden;

            .inner {
                position: absolute;
                width: 56px;
                height: 56px;
                top: 3px;
                left: 3px;
                z-index: 10;

                background: transparent;
                border-radius: 30px;
                border: 1px solid rgba(92, 95, 78, 0.02);
                overflow: hidden;
                box-shadow: inset 0 0 15px rgba(92, 95, 78, 0.45);
            } // .inner

            img {
                position: absolute;
                top: 4px;
                left: 4px;
                height: 56px;
                width: 56px;
                border-radius: 100px;
                z-index: 2;
            } // img
        } // .bubble
    } // li.empty
} // .favourites-list