
.route-go-29A {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-40 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-12A {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-27 {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-20 {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21 {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-96C {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-29 {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-71F {
    background: #AA55FF;
    box-shadow: inset 0 0 1px 1px darken(#AA55FF, 10%);
    text-shadow: 0 0 1px darken(#AA55FF, 30%);
    color: #000000;
}

.route-go-71D {
    background: #AA55FF;
    box-shadow: inset 0 0 1px 1px darken(#AA55FF, 10%);
    text-shadow: 0 0 1px darken(#AA55FF, 30%);
    color: #000000;
}

.route-go-71C {
    background: #AA55FF;
    box-shadow: inset 0 0 1px 1px darken(#AA55FF, 10%);
    text-shadow: 0 0 1px darken(#AA55FF, 30%);
    color: #000000;
}

.route-go-71A {
    background: #AA55FF;
    box-shadow: inset 0 0 1px 1px darken(#AA55FF, 10%);
    text-shadow: 0 0 1px darken(#AA55FF, 30%);
    color: #000000;
}

.route-go-81A {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-21T {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21R {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21P {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-54 {
    background: #72B4E3;
    box-shadow: inset 0 0 1px 1px darken(#72B4E3, 10%);
    text-shadow: 0 0 1px darken(#72B4E3, 30%);
    color: #000000;
}

.route-go-51 {
    background: #72B4E3;
    box-shadow: inset 0 0 1px 1px darken(#72B4E3, 10%);
    text-shadow: 0 0 1px darken(#72B4E3, 30%);
    color: #000000;
}

.route-go-52 {
    background: #72B4E3;
    box-shadow: inset 0 0 1px 1px darken(#72B4E3, 10%);
    text-shadow: 0 0 1px darken(#72B4E3, 30%);
    color: #000000;
}

.route-go-21F {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-19 {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-21D {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21E {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21B {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21C {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-18 {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-21N {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21L {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21M {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21J {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21K {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21H {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-96A {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-96B {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-51C {
    background: #72B4E3;
    box-shadow: inset 0 0 1px 1px darken(#72B4E3, 10%);
    text-shadow: 0 0 1px darken(#72B4E3, 30%);
    color: #000000;
}

.route-go-51B {
    background: #72B4E3;
    box-shadow: inset 0 0 1px 1px darken(#72B4E3, 10%);
    text-shadow: 0 0 1px darken(#72B4E3, 30%);
    color: #000000;
}

.route-go-90B {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-88 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-90A {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-90D {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-80 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-81 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-38A {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-21G {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-25 {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-21A {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-36B {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-36A {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-12D {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-27A {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-39 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-38 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-27D {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-27F {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-33 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-32 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-31 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-30 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-37 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-36 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-35 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-31T {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-31K {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-31J {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-31H {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-66A {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-31M {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-31L {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-31C {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-70E {
    background: #AA55FF;
    box-shadow: inset 0 0 1px 1px darken(#AA55FF, 10%);
    text-shadow: 0 0 1px darken(#AA55FF, 30%);
    color: #000000;
}

.route-go-31A {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-19A {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-31F {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-31E {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-31D {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-96D {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-61 {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-63 {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-65 {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-66 {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-67 {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-68 {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-18B {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-65B {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-18G {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-65A {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-18H {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-27B {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-91 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-90 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-93 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-95 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-94 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-96 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-65F {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-12 {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-15 {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-16 {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-25B {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-25C {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-25A {
    background: #B56504;
    box-shadow: inset 0 0 1px 1px darken(#B56504, 10%);
    text-shadow: 0 0 1px darken(#B56504, 30%);
    color: #000000;
}

.route-go-31R {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-33E {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-45A {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-33A {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-33B {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-47B {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-47C {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-47A {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-47F {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-47G {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-35A {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-68A {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-34 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-94B {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-94C {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-65C {
    background: #55557F;
    box-shadow: inset 0 0 1px 1px darken(#55557F, 10%);
    text-shadow: 0 0 1px darken(#55557F, 30%);
    color: #000000;
}

.route-go-70B {
    background: #AA55FF;
    box-shadow: inset 0 0 1px 1px darken(#AA55FF, 10%);
    text-shadow: 0 0 1px darken(#AA55FF, 30%);
    color: #000000;
}

.route-go-48 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-46 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-47 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-45 {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-48B {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-48A {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-32B {
    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px darken(#FFFFFF, 10%);
    text-shadow: 0 0 1px darken(#FFFFFF, 30%);
    color: #000000;
}

.route-go-71 {
    background: #AA55FF;
    box-shadow: inset 0 0 1px 1px darken(#AA55FF, 10%);
    text-shadow: 0 0 1px darken(#AA55FF, 30%);
    color: #000000;
}

.route-go-70 {
    background: #AA55FF;
    box-shadow: inset 0 0 1px 1px darken(#AA55FF, 10%);
    text-shadow: 0 0 1px darken(#AA55FF, 30%);
    color: #000000;
}

.route-go-19C {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}

.route-go-19B {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
    color: #000000;
}
