// This is the application-wide top header that also contains the settings menu.
header {
    position: absolute;
    top: -165px;
    left: 0;
    right: 0;

    z-index: 1000;
    height: 209px;

    background: white;
    border-bottom: 1px solid #CECECE;
    box-shadow: 0 0 8px #CCC;

    -webkit-transition: 0.25s all ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &.open {
        top: 0;
    } // &.open

    &.has-back-button {
        .back.btn {
            display: block !important;
        }
    } // &.has-back-button

    &.has-favourite-button {
        .favourite.btn {
            display: block !important;
        } // .favourite-btn

        .expand.btn {
            display: none;
        } // .reveal-btn
    } // &.has-favourite-button

    .persistent {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        height: 44px;
        box-shadow: 0 -2px 2px #E6E6E6;
        background: #FFFFFF;

        .btn {
            position: absolute;
            top: 0;

            height: 20px;
            width: 20px;
            padding: 12px;

            img {
                height: 20px;
                width: 20px;
                opacity: 0.8;
            } // img

            &.expand {
                right: 0;
            } // .expand-btn

            &.back {
                display: none;
                left: 0;
            } // .back-btn

            &.favourite {
                display: none;
                right: 0;
            }
        } // .btn

        h1 {
            display: block;
            margin: 0;
            padding: 0;

            position: absolute;
            top: 12px;
            left: 44px;
            right: 44px;

            font-family: 'Chivo', sans-serif;
            font-size: 20px;
            line-height: 1;
            letter-spacing: 1px;
            color: #323232;

            text-align: center;
            text-transform: uppercase;
            text-rendering: optimizeLegibility;
        } // h1
    } // .persistent
} // header