// ---------------
// header.scss:
//     - Persistent application-wide header bar with title and buttons
//     - Base styling for the favourites container
//     - Animation for header open/close
// ---------------

@import "globals";

header {
    @include no-tap-highlight;
    @include position-absolutely(-165px, 0, null, 0);

    z-index: 1000;
    height: 209px;

    background: white;
    border-bottom: 1px solid #CECECE;
    box-shadow: 0 0 8px #CCC;
    -webkit-transition: 0.25s all ease-in-out;
    -webkit-transform: translateZ(0);

    &.open {
        top: 0;
    } // &.open

    &.has-back-button {
        .back.btn {
            display: block !important;
        } // .back.btn
    } // &.has-back-button

    &.has-favourite-button {
        .favourite.btn {
            display: block !important;
        } // .favourite.btn

        .expand.btn {
            display: none;
        } // .expand.btn
    } // &.has-favourite-button

    .persistent {
        @include position-absolutely(null, 0, 0, 0);

        height: 44px;
        box-shadow: 0 -2px 2px #E6E6E6;
        background: #FFFFFF;

        .btn {
            @include size(20px, 20px);

            img {
                @include size(20px, 20px);
                opacity: 0.8;
            } // img

            &.expand {
                @include position-absolutely(0, 0, null, null);
                padding: 12px 12px 32px 32px;
            } // &.expand

            &.back {
                @include position-absolutely(0, null, null, 0);
                display: none;
                padding: 12px 32px 32px 12px;
            } // &.back

            &.favourite {
                @include position-absolutely(0, 0, null, null);
                display: none;
                padding: 12px 12px 32px 32px;
            } // &.favourite
        } // .btn

        h1 {
            @include position-absolutely(12px, 44px, null, 44px);
            margin: 0;
            padding: 0;

            font-family: 'Chivo', sans-serif;
            font-size: 20px;
            line-height: 1;
            letter-spacing: 1px;
            color: #323232;

            text-align: center;
            text-transform: uppercase;
            text-rendering: optimizeLegibility;
        } // h1
    } // .persistent
} // header