// ---------------
// index.scss:
//     - Stop title card
//     - Responsive card holder sizing
//     - Base styles for outer container of a route card.
//     - Route card navigation dots
//     - First time swipe hint
// ---------------

@import "globals";

// The same font styling applies to multiple elements.
@mixin input-font {
    font-size: 16px;
    line-height: 30px;
}

.index {
    @include position-absolutely(0, 0, 0, 0);

    &.locating {
        .find-location button {
            @include gradient(#F2F2F2, #FEFEFE);

            img {
                -webkit-animation: locating 1.5s infinite linear;
            } // img
        } // .find-location button
    } // &.locating

    * { box-sizing: border-box; }

    h1 {
        margin: 15px 0;
        color: #434343;
        font-size: 20px;

        text-shadow: 0 0 4px #FFF;
        text-transform: uppercase;
        text-align: center;
    } // h1

    .input-holder {
        @include border(#DDDDDD);

        margin: 0 10px;
        padding: 8px;

        background: #FFF;
        box-shadow: 0 0 5px #CCC;

        input {
            @include input-font;
            @include border(#EDEDED);

            display: block;
            margin: 0;
            padding: 0 6px;
            width: 100%;

            color: $font-colour-dk;

            &::-webkit-input-placeholder {
                @include input-font;
                color: #AAA;
            } // &::-webkit-input-placeholder
        } // input
    } // .input-holder

    .divider {
        margin: 0 20px;
        overflow: hidden;

        .or {
            position: relative;
            margin: 30px 0;
            height: 2px;

            span {
                @include position-absolutely(-8px, 0, null, 0);
                display: block;

                text-align: center;
                font-weight: bold;
                font-size: 16px;
                line-height: 1;
                color: #878787;
                text-shadow: 0 0 1px #FFF;
            } // span

            .left, .right {
                position: absolute;
                width: 40%;

                border-top: 1px solid #999;
                border-bottom: 1px solid #EFEFEF;
            } // .left, .right

            .left  { left:  0; }
            .right { right: 0; }
        } // .or
    } // .divider

    .find-location {
        margin: 0 10px;

        button {
            @include no-tap-highlight;
            @include gradient(#FEFEFE, #F2F2F2);
            @include border(#DEDEDE);

            position: relative;
            margin: 0;
            padding: 15px 0;
            width: 100%;

            color: $font-colour-md;
            font-weight: bold;
            font-size: 16px;
            line-height: 1;

            text-shadow: 1px 1px 1px #FFF;
            box-shadow: 1px 1px 2px #CCC;

            &:active { @include gradient(#F2F2F2, #FEFEFE); }

            img {
                @include position-absolutely(13px, null, null, 15px);
                @include size(16px, 16px);

                -webkit-transform: rotate(53deg);
                opacity: 0.35;
            } // img
        } // button
    } // .findLocation

    .notice {
        display: block;
        margin: 40px 10px 20px 10px;
        padding: 6px 4px;

        color: #323232;
        font-weight: bold;
        text-shadow: 0 1px 1px #FCE5B0;
        text-align: center;

        background: #FBDF9D;
        border: 2px solid #EBA709;
    } // .notice

    .footer {
        @include position-absolutely(null, 0, 0, 0);

        margin: 0;
        padding: 5px 10px;

        background: white;
        box-shadow: -1px 0 4px 2px #DEDEDE;

        font-weight: bold;
        font-size: 14px;
        line-height: 2;

        .link {
            float: right;
            margin: 0 0 0 5px;
            padding: 0 5px;
            color: $font-colour-md;

            &:last-child {
                margin: 0 5px;
                padding: 0 5px;
            } // &:last-child
        } // .link

        .copyright {
            color: $font-colour-md;
        } // .copyright
    } // .footer
} // .index