
.route-56 {
    background: #BAB3D6;
    box-shadow: inset 0 0 1px 1px darken(#BAB3D6, 10%);
    text-shadow: 0 0 1px darken(#BAB3D6, 30%);
}

.route-58 {
    background: #B74F8F;
    box-shadow: inset 0 0 1px 1px darken(#B74F8F, 10%);
    text-shadow: 0 0 1px darken(#B74F8F, 30%);
}

.route-52 {
    background: #C77456;
    box-shadow: inset 0 0 1px 1px darken(#C77456, 10%);
    text-shadow: 0 0 1px darken(#C77456, 30%);
}

.route-02 {
    background: #75C5F0;
    box-shadow: inset 0 0 1px 1px darken(#75C5F0, 10%);
    text-shadow: 0 0 1px darken(#75C5F0, 30%);
}

.route-03 {
    background: #7882B4;
    box-shadow: inset 0 0 1px 1px darken(#7882B4, 10%);
    text-shadow: 0 0 1px darken(#7882B4, 30%);
}

.route-26 {
    background: #42929D;
    box-shadow: inset 0 0 1px 1px darken(#42929D, 10%);
    text-shadow: 0 0 1px darken(#42929D, 30%);
}

.route-27 {
    background: #00923F;
    box-shadow: inset 0 0 1px 1px darken(#00923F, 10%);
    text-shadow: 0 0 1px darken(#00923F, 30%);
}

.route-06 {
    background: #547F8B;
    box-shadow: inset 0 0 1px 1px darken(#547F8B, 10%);
    text-shadow: 0 0 1px darken(#547F8B, 30%);
}

.route-07 {
    background: #3BB3C2;
    box-shadow: inset 0 0 1px 1px darken(#3BB3C2, 10%);
    text-shadow: 0 0 1px darken(#3BB3C2, 30%);
}

.route-04 {
    background: #96AEBE;
    box-shadow: inset 0 0 1px 1px darken(#96AEBE, 10%);
    text-shadow: 0 0 1px darken(#96AEBE, 30%);
}

.route-05 {
    background: #78AAA0;
    box-shadow: inset 0 0 1px 1px darken(#78AAA0, 10%);
    text-shadow: 0 0 1px darken(#78AAA0, 30%);
}

.route-08 {
    background: #1373B3;
    box-shadow: inset 0 0 1px 1px darken(#1373B3, 10%);
    text-shadow: 0 0 1px darken(#1373B3, 30%);
}

.route-09 {
    background: #90A5D1;
    box-shadow: inset 0 0 1px 1px darken(#90A5D1, 10%);
    text-shadow: 0 0 1px darken(#90A5D1, 30%);
}

.route-43 {
    background: #B77F7D;
    box-shadow: inset 0 0 1px 1px darken(#B77F7D, 10%);
    text-shadow: 0 0 1px darken(#B77F7D, 30%);
}

.route-41 {
    background: #EB891B;
    box-shadow: inset 0 0 1px 1px darken(#EB891B, 10%);
    text-shadow: 0 0 1px darken(#EB891B, 30%);
}

.route-24 {
    background: #495F5F;
    box-shadow: inset 0 0 1px 1px darken(#495F5F, 10%);
    text-shadow: 0 0 1px darken(#495F5F, 30%);
}

.route-25 {
    background: #B6DDC7;
    box-shadow: inset 0 0 1px 1px darken(#B6DDC7, 10%);
    text-shadow: 0 0 1px darken(#B6DDC7, 30%);
}

.route-99 {
    background: #436997;
    box-shadow: inset 0 0 1px 1px darken(#436997, 10%);
    text-shadow: 0 0 1px darken(#436997, 30%);
}

.route-01 {
    background: #0093DD;
    box-shadow: inset 0 0 1px 1px darken(#0093DD, 10%);
    text-shadow: 0 0 1px darken(#0093DD, 30%);
}

.route-20 {
    background: #FF0000;
    box-shadow: inset 0 0 1px 1px darken(#FF0000, 10%);
    text-shadow: 0 0 1px darken(#FF0000, 30%);
}

.route-21 {
    background: #CD9A49;
    box-shadow: inset 0 0 1px 1px darken(#CD9A49, 10%);
    text-shadow: 0 0 1px darken(#CD9A49, 30%);
}

.route-11 {
    background: #9168A1;
    box-shadow: inset 0 0 1px 1px darken(#9168A1, 10%);
    text-shadow: 0 0 1px darken(#9168A1, 30%);
}

.route-10 {
    background: #DA251D;
    box-shadow: inset 0 0 1px 1px darken(#DA251D, 10%);
    text-shadow: 0 0 1px darken(#DA251D, 30%);
}

.route-12 {
    background: #61A5D4;
    box-shadow: inset 0 0 1px 1px darken(#61A5D4, 10%);
    text-shadow: 0 0 1px darken(#61A5D4, 30%);
}

.route-22 {
    background: #68B92E;
    box-shadow: inset 0 0 1px 1px darken(#68B92E, 10%);
    text-shadow: 0 0 1px darken(#68B92E, 30%);
}

.route-16 {
    background: #A82958;
    box-shadow: inset 0 0 1px 1px darken(#A82958, 10%);
    text-shadow: 0 0 1px darken(#A82958, 30%);
}

.route-33 {
    background: #EDB32A;
    box-shadow: inset 0 0 1px 1px darken(#EDB32A, 10%);
    text-shadow: 0 0 1px darken(#EDB32A, 30%);
}

.route-18 {
    background: #97947F;
    box-shadow: inset 0 0 1px 1px darken(#97947F, 10%);
    text-shadow: 0 0 1px darken(#97947F, 30%);
}

.route-23 {
    background: #449284;
    box-shadow: inset 0 0 1px 1px darken(#449284, 10%);
    text-shadow: 0 0 1px darken(#449284, 30%);
}

.route-51 {
    background: #665F83;
    box-shadow: inset 0 0 1px 1px darken(#665F83, 10%);
    text-shadow: 0 0 1px darken(#665F83, 30%);
}

.route-35 {
    background: #99AE6A;
    box-shadow: inset 0 0 1px 1px darken(#99AE6A, 10%);
    text-shadow: 0 0 1px darken(#99AE6A, 30%);
}

.route-34 {
    background: #39AD79;
    box-shadow: inset 0 0 1px 1px darken(#39AD79, 10%);
    text-shadow: 0 0 1px darken(#39AD79, 30%);
}

.route-55 {
    background: #B86779;
    box-shadow: inset 0 0 1px 1px darken(#B86779, 10%);
    text-shadow: 0 0 1px darken(#B86779, 30%);
}

.route-44 {
    background: #EE9A69;
    box-shadow: inset 0 0 1px 1px darken(#EE9A69, 10%);
    text-shadow: 0 0 1px darken(#EE9A69, 30%);
}
