<li class="empty">
    <div class="left">
        <h3>No favourited stops.</h3>
        <h4>Click on the star when you're viewing a stop to favourite it.</h4>
    </div>
    <div class="bubble">
        <div class="inner"></div>
        <img src="/static/img/favourites-hint.png" />
    </div>
</li>