<h2>
    Favourites

    <div class="actions">
        <div class="prev disabled">
            <img src="/static/img/next.png" />
        </div>
        <div class="next <%= pages === 1 ? 'disabled' : '' %>">
            <img src="/static/img/next.png" />
        </div>

        <div style="clear: both"></div>
    </div>
</h2>

<ul class="favourites-list"></ul>