<div class="favourites"></div>

<div class="persistent">
    <div class="back btn">
        <img src="/static/img/left.png"/>
    </div>

    <h1>nextbus</h1>

    <div class="expand btn">
        <img src="/static/img/expand.png"/>
    </div>

    <div class="favourite btn">
        <img src="/static/img/unstarred.png"/>
    </div>
</div>