<h1>find the next bus</h1>

<form>
    <div class="input-holder">
        <input type="text" placeholder="Stop number or name"/>
    </div>
</form>

<div class="divider">
    <div class="or">
        <div class="left"></div>
        <span>OR</span>
        <div class="right"></div>
    </div>
</div>

<div class="find-location">
    <button>
        <img src="/static/img/gps.png"/>
        Use Current Location
    </button>
</div>

<div class="notice">
    In response to a legal threat Next Bus has been renamed to Bus Ticker.
</div>

<div class="footer">
    <span class="copyright">&copy;&nbsp;2012&nbsp;Gavin Schulz</span>

    <a href="/about" class="link" target="_blank">About</a>
    <a href="/help" class="link" target="_blank">Help</a>
</div>