<h2 class="stop-title">#<%= get('code') %>: <%= get('name') %></h2>

<div class="card"></div>

<% if (get('hasAdditionalStops')) { %>
<div class="additional-stops">
    <button>
        More Buses at #<%= get('code') %>

        <img src="/static/img/next.png" class="img-next"/>
    </button>
</div>
<% } %>

<!--<div class="map">
    <h3>Stop Map</h3>
    <img src="<%= googleMapsImage_() %>" />
</div>-->