{% extends "desktop-layout.html" %}
{% block body %}
<div class="responsive">
    <p>
        Bus Ticker is a web app that can help you quickly find the next buses coming by your bus stop.  Never again wrestle with the HSR's phone service or infuriating website simply put your stop code or stop name into Bus Ticker and we'll tell you the next 5 buses for every route that passes by.
    </p>

    <p>
        <b>Note:</b> Bus Ticker is not affiliated with or endorsed by the HSR.  We cannot gaurantee the accuracy of any bus times as we do not have access to the HSR's real time data feed.  The times we show are based on the official schedule released by the HSR and may vary due to traffic conditions and road closures.
    </p>
</div>
{% endblock %}