{% extends "desktop-layout.html" %}
{% block body %}
<div class="responsive">
    <p>
        <b>Who is behind NextBus?</b></br>
        <span class="answer">Gavin Schulz.  I'm a 4th year student at McMaster University and I was fed up with the existing ways to check bus times so I decided to do something about it.</span>
    </p>

    <p>
        <b>How accurate are the bus times?</b></br>
        <span class="answer">The times that are shown on NextBus are based on the official schedule released by the HSR.  Actual time of arrival may vary based on traffic conditions and other considerations.</span>
    </p>

    <p>
        <b>Is NextBus realtime?</b></br>
        <span class="answer">No, unfortunately both the city and the HSR appear unwilling to release the realtime bus location feeds.  We have made efforts in the past to open up the realtime feeds but neither the city nor the HSR was interested in helping make life easier for bus commuters.  We urge you to write your representative at council and let them know realtime bus feeds are important to you!</span>
    </p>

    <p>
        <b>I found a bug, who do I tell?</b></br>
        <span class="answer">The best way to let us know about a bug is to tweet us or post on our Facebook page.  We try to respond to all reports as fast as possible.</span>
    </p>
</div>
{% endblock %}