{% extends "desktop-layout.html" %}
{% block body %}
<div class="responsive">
    <p>
        <span class="question">Is Next Bus real-time?</span>
        <span class="answer">No, unfortunately the City of Hamilton does not released real-time bus location feeds for the HSR.  We urge you to write your representative at council and let them know real-time bus feeds are important to you!</span>
    </p>

    <p>
        <span class="question">How accurate are the bus times?</span>
        <span class="answer">The times that are shown on NextBus are based on the official schedule released by the HSR.  Actual time of arrival may vary based on traffic conditions and other considerations.</span>
    </p>

    <p>
        <span class="question">How do I install Next Bus?</span>
        <span class="answer">There is nothing to install!  You simply go to <a href="http://www.thenextbusapp.com">Next Bus</a> on your Android, iOS device and you can start using Next Bus immediately.  You can add Next Bus to your home screen to make it easier to find.  For instruction on how to do this for your device see the next question on this page.</span>
    </p>

    <p>
        <span class="question">How do I add Next Bus to my iPad or iPhone home screen?</span>
        <span class="answer">Simply go to <a href="http://www.thenextbusapp.com">Next Bus</a> in Safari and tap <span class="action-icon"></span>then select 'Add to Home Screen' from the menu.</span>
    </p>

    <p>
        <span class="question">How do I add Next Bus to my Android home screen?</span>
        <span class="answer">First go to <a href="http://www.thenextbusapp.com">Next Bus</a> in your browser and bookmark it.  Then drag a bookmark widget to your home screen and select Next Bus when you are prompted to choose a bookmark.</span>
    </p>

    <p>
        <span class="question">I found a bug, who do I tell?</span>
        <span class="answer">The best way to let me know about a bug is to tweet me: <a href="http://twitter.com/gsmaverick">@gsmaverick</a>, or send me an email: <a href="mailto:gavin.schulz@gmail.com">gavin.schulz@gmail.com</a>.  Hopefully I'll be able to fix the bug in a reasonably short timeframe.</span>
    </p>
</div>
{% endblock %}