{% extends "desktop-layout.html" %}
{% block body %}
<div id="content">

    <div class="phone-container">
        <img src="/static/img/phone.png" />

        <div class="screens">
            <img src="/static/img/home-screen.png"/>
            <img src="/static/img/search-screen.png" class="right"/>
            <img src="/static/img/details-screen.png" class="right"/>
            <img src="/static/img/favourites-screen.png" class="right"/>
        </div>
    </div>

    <div class="right-col">
        <img src="/static/img/nextbus-branding.png" />
        <h1>Never be left waiting<br/>for the bus again!</h1>

        <h2>Quickly and easily find out when the next bus arrives from your phone.  Works on Android and iOS.</h2>

        <button>Send to Phone</button>

        <span class="fine-print">Not endorsed by the HSR or the City of Hamilton.</span>
    </div>

    <div class="clearfix"></div>

</div>
{% endblock %}